* {
border: none;
font-size: 15px;
font-family: "JetBrainsMono Nerd Font, JetBrainsMono NF";
min-height: 30px;
}

window#waybar {
background: #090a11;
}

#workspaces button {
background: transparent;
border: none;
box-shadow: none;
color: #45465a;
}

#window {
color: #c0d0e1;
}

#workspaces button.active,
#workspaces button.focused { color: #c0d0e1; }

#pulseaudio {
padding-right: 10px;
color: #c0d0e1;
min-width: 30px;
}

#pulseaudio.muted {
padding-right: 10px;
color: #E1C0C0;
}

#clock {
color: #c0d0e1;
padding-right: 5px;
padding-left: 13px;
}

#custom-separator {
padding-right: 5px;
color: #c0d0e1;
}

#custom-clock_date {
color: #c0d0e1;
}
